{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}


{% endblock extra_css %}

{% block content %}
    {% image page.banner_image width-1000 as img %}
    <img src="{{img.url}}" alt="{{img.alt}}">
    <h3>{{page.banner_title}}</h3>
    <p>{{page.introduction}}</p>
    {% image page.author.image fill-100x100  %}
    {% comment %} <img src=""> {% endcomment %}
    <h5>Page created by {{page.author.name}} from {{page.author.company_name}}</h5>
    <hr>
    {% include_block page.body %}
{% endblock content %}
